body {
    background: #eee;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.row {
	margin-top: 20px;
}

[class*="column"] span {
	background: #fff;
	border-radius: 6px;
	display: block;
	padding: 10px;
	text-align: center;
}